<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
  <div class="container" style="max-width: 100%">
    <h2 style="display: flex; justify-content: center; width: 100%">
      Edit Service
    </h2>
    <div
      mat-dialog-content
      style="
        min-height: 75vh;
        max-height: 100%;
        overflow: hidden;
        padding-top: 1%;
      "
    >
      <!-- Summary Form Input -->
      <div class="row">
        <mat-form-field style="width: 100%">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput type="text" />
        </mat-form-field>
      </div>
      <!-- Description Form Input -->
      <div class="row">
        <mat-form-field style="width: 100%">
          <mat-label>Description</mat-label>
          <textarea
            formControlName="description"
            matInput
            type="text"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field style="width: 32%">
          <mat-label>Amount</mat-label>
          <input formControlName="amount" matInput type="number" />
        </mat-form-field>
        <mat-form-field style="width: 32%; margin-left: 1%; margin-right: 1%">
          <mat-label>Length</mat-label>
          <input formControlName="length" matInput type="number" />
        </mat-form-field>
        <mat-form-field style="width: 32%">
          <mat-label>Category</mat-label>
          <input formControlName="category" matInput type="text" />
        </mat-form-field>
      </div>
    </div>
    <!-- Form Buttons-->
    <div class="d-flex justify-content-end">
      <button
        type="submit"
        color="primary"
        mat-raised-button
        style="margin-right: 2%"
      >
        <mat-icon class="me-2">done</mat-icon> Submit
      </button>
      <button
        [mat-dialog-close]="'canceled'"
        color="primary"
        mat-raised-button
        type="button"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
